<app-navbar></app-navbar>
<app-edit-inactive-brand></app-edit-inactive-brand>
<div  class="container-sm pt-4">
  <div class="" style="font-size: 50px">Marcas Inactivas</div>
  <div class="search-name pt-3 pb-3">
    <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="on" placeholder=" Buscar  ">
  </div>
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    Plus
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li><a class="dropdown-item" routerLink="/brand">Marcas</a></li>
    </ul>
  </div>
 <br>
  <table class="table color">
    <thead>
      <tr>
        <th scope="col" class="text-center">id</th>
        <th scope="col" class="text-center">nombre</th>
        <th scope="col" class="text-center">state</th>
        <th style="width: 10%" scope="col" class="text-center"></th>
        <th style="width: 10%" scope="col" class="text-center"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of listBrand | filter:searchText">
        <td *ngIf="item.state == 2" class="p-1 text-center">
          0000{{ item.idbrand }}
        </td>
        <td *ngIf="item.state == 2" class="p-1 text-center">
          {{ item.name_brand }}
        </td>
        <td *ngIf="item.state == 2" class="p-1 text-center">
          inactivo
        </td>
        <td *ngIf="item.state == 2" class="p-1 text-center">
          <button
            data-bs-toggle="modal"
            class="btn btn-outline-warning btn-sm"
            (click)="edit(item.idbrand)"
            data-bs-toggle="modal"
            data-bs-target="#staticBackdrop2"
          >
            <a> <img class="imagen" src="./assets/img/editar.png" alt="" /></a>
          </button>
        </td>

      </tr>
    </tbody>
  </table>
</div>

