<app-navbar></app-navbar>
<div  class="container-sm pt-4">
<div class="" style="font-size: 50px">Productos</div>
<div class="search-name pt-3 pb-3">
  <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="on" placeholder=" Buscar  ">
</div>

<div class="agregar">
  <button
    data-bs-toggle="modal"
    data-bs-target="#staticBackdrop"
    class="btn btn-outline-success"
  >
    <img class="imagen" src="./assets/img/agregar.png" alt="" />
  </button>

</div>
<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">uno</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <td class="p-1 text-center">
      <button
        data-bs-toggle="modal"
        class="btn btn-outline-warning btn-sm"

        data-bs-toggle="modal"
        data-bs-target="#staticBackdrop2"
      >
        <a> <img class="imagen" src="./assets/img/editar.png" alt="" /></a>
      </button>
    </td>
    <td  class="p-1 text-center">
      <button
        class="btn btn-outline-danger btn-sm"
      >
        <img class="imagen" src="./assets/img/eliminar.png" alt="" />
      </button>
    </td>
  </div>
</div>

</div>
