<app-navbar></app-navbar>
<app-detail-person></app-detail-person>
<app-add-person></app-add-person>
<app-edit-person></app-edit-person>

<div class="container-sm">
    <div class="texto">Usuarios</div>
    <div class="search-name pt-3 pb-3">
        <input type="text" class="form-control"name="search" [(ngModel)]="searchText" autocomplete="on" placeholder=" buscar ">
    </div>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="staticBackdrop3" data-bs-toggle="dropdown" aria-expanded="false">
        Personas Desactivadas
        </button>
        <ul class="dropdown-menu" aria-labelledby="staticBackdrop3">
          <tbody>
            <tr *ngFor="let item of listPerson | filter:searchText">
              <td *ngIf="item.state == 0" class="p-1 text-center">
                0000{{ item.idperson }}
              </td>
              <td *ngIf="item.state == 0" class="p-1 text-center">
                {{ item.username }}
              </td>
              <td *ngIf="item.state == 0" class="p-1 text-center">
                Desactivado
              </td>
              <td *ngIf="item.state == 0" class="p-1 text-center">
                <button
                  data-bs-toggle="modal"
                  class="btn btn-outline-warning btn-sm"
                  (click)="edit(item.idperson)"
                  data-bs-toggle="modal"
                  data-bs-target="#staticBackdrop3"
                >
                  <a> <img class="imagen" src="./assets/img/editar.png" alt="" /></a>
                </button>
              </td>
            </tr>
          </tbody>
  
        </ul>
      </div>


    <div class="agregar">
        <button data-bs-toggle="modal"
        data-bs-target="#staticBackdrop"
        class="btn btn-outline-success">
            <img  class= "imagen" src="./assets/img/agregar.png" alt="agregar">
        </button>
    </div>
    <table class="table color">
        <thead>
            <tr>
                <th scope="col" class="text-center">id</th>
                <th scope="col" class="text-center">nombre</th>
                <th scope="col" class="text-center">apellido</th>
                <th scope="col" class="text-center">state</th>
                <th class="text-center " style="width: 10%;" scope="col"></th>
                <th class="text-center " style="width: 10%;"  scope="col"></th>
                <th class="text-center " style="width: 10%;"  scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of listPerson | filter: searchText">
                <td *ngIf="item.state ==1" class="p-1 text-center">
                    0000{{item.idperson}}
                </td>
                <td *ngIf="item.state ==1" class="p-1 text-center">
                    {{item.name}}
                </td>
                <td *ngIf="item.state ==1" class="p-1 text-center">
                  {{item.lastname}}
              </td>
                <td *ngIf="item.state ==1" class="p-1 text-center">
                  Activo
                </td>
                <td *ngIf="item.state ==1" class="p-1 text-center">
                    <button
                    data-bs-target="modal"
                    class="btn btn-outline-warning btn-sm"
                    data-bs-toggle="modal"
                    data-bs-target="#ModalDetalle"
                    (click)="GetPeronsOne(item.idperson)"

                     >
                    <a> <img src="./assets/img/lupa.png" class="imagen"></a>
                    </button>
                </td>
                <td *ngIf="item.state ==1" class="p-1 text-center">
                    <button
                        data-bs-target="modal"
                        class="btn btn-outline-warning btn-sm"
                        data-bs-toggle="modal"
                        data-bs-target="#staticBackdrop2"
                        (click)="edit(item.idperson)"
   
                    >
                    <a> <img src="./assets/img/editar.png" class="imagen"></a>
                    </button>
                </td>
                <td *ngIf="item.state ==1" class="p-1 text-center"> 
                    <button
                    (click)="deletePerson(item.idperson)"
                    class="btn btn-outline-danger btn-sm">
                        <img class="imagen" src="./assets/img/eliminar.png" alt="">
                    </button>
                </td>
            </tr>
        </tbody>

    </table>
</div>
