
<app-navbar></app-navbar>
<app-add-provider></app-add-provider>
<app-detail-provider></app-detail-provider>
<app-edit-provider></app-edit-provider>

<div class="container-sm">
  <div class="texto">Proveedores</div>
  <div class="search-name pt-3 pb-3">
      <input type="text" class="form-control"name="search" [(ngModel)]="searchText" autocomplete="on" placeholder=" buscar ">
  </div>
  <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="staticBackdrop3" data-bs-toggle="dropdown" aria-expanded="false">
      Proveedores Desactivados
      </button>
      <ul class="dropdown-menu" aria-labelledby="staticBackdrop3">
        <tbody>
          <tr *ngFor="let item of listProvider | filter:searchText">
            <td *ngIf="item.state == 0" class="p-1 text-center">
              0000{{ item.idprovider }}
            </td>
            <td *ngIf="item.state == 0" class="p-1 text-center">
              {{ item.name_prov }}
            </td>
            <td *ngIf="item.state == 0" class="p-1 text-center">
              Desactivado
            </td>
            <td *ngIf="item.state == 0" class="p-1 text-center">
              <button
                data-bs-toggle="modal"
                class="btn btn-outline-warning btn-sm"
                (click)="edit(item.idprovider)"
                data-bs-toggle="modal"
                data-bs-target="#staticBackdrop3"
              >
                <a> <img class="imagen" src="./assets/img/editar.png" alt="" /></a>
              </button>
            </td>
          </tr>
        </tbody>

      </ul>
    </div>


  <div class="agregar">
      <button data-bs-toggle="modal"
      data-bs-target="#staticBackdrop"
      class="btn btn-outline-success">
          <img  class= "imagen" src="./assets/img/agregar.png" alt="agregar">
      </button>
  </div>
  <table class="table color">
      <thead>
          <tr>
              <th scope="col" class="text-center">id</th>
              <th scope="col" class="text-center">nombre de proveedor</th>
              <!--<th scope="col" class="text-center">rol</th>-->
              <th scope="col" class="text-center">state</th>
              <th class="text-center " style="width: 10%;" scope="col"></th>
              <th class="text-center " style="width: 10%;"  scope="col"></th>
              <th class="text-center " style="width: 10%;"  scope="col"></th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let item of listProvider | filter: searchText">
              <td *ngIf="item.state ==1" class="p-1 text-center">
                  0000{{item.idprovider}}
              </td>
              <td *ngIf="item.state ==1" class="p-1 text-center">
                  {{item.name_prov}}
              </td>
              <td *ngIf="item.state ==1" class="p-1 text-center">
                  {{item.state}}
              </td>
              <td *ngIf="item.state ==1" class="p-1 text-center">
                  <button
                  data-bs-target="modal"
                  class="btn btn-outline-warning btn-sm"
                  data-bs-toggle="modal"
                  data-bs-target="#ModalDetalle"
                  (click)="GetProviderOne(item.idprovider)">
                  <a> <img src="./assets/img/lupa.png" class="imagen"></a>
                  </button>
              </td>
              <td *ngIf="item.state ==1" class="p-1 text-center">
                  <button
                      data-bs-target="modal"
                      class="btn btn-outline-warning btn-sm"
                      data-bs-toggle="modal"
                      data-bs-target="#staticBackdrop2"
                      (click)="edit(item.idprovider)"

                  >
                  <a> <img src="./assets/img/editar.png" class="imagen"></a>
                  </button>
              </td>
              <td *ngIf="item.state ==1" class="p-1 text-center">
                  <button
                  (click)="deleteProvider(item.idprovider)"
                  class="btn btn-outline-danger btn-sm">
                      <img class="imagen" src="./assets/img/eliminar.png" alt="">
                  </button>
              </td>
          </tr>
      </tbody>

  </table>
</div>
