<div
  class="modal fade"
  id="staticBackdrop2"
  data-backdrop="false"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Editar</h5>
        <button

          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formSize2" (ngSubmit)="updateSize()">
          <div class="mb-3">
            <label class="form-label">Nombre</label>
            <input
               
              formControlName="name_size"
              class="form-control"
              id="exampleInputPassword1"
            />
            <span
              *ngIf="
              formSize2.get('name_size')?.hasError('required') &&
              formSize2.get('name_size')?.touched
              "
              ><strong>El campo nombre es requerido</strong></span
            >
          </div>
          <div class="mb-3">
            <label class="form-label">State</label>
            <input
              disabled
              class="form-control"
              id="exampleInputPassword1"
              value="Activo"
            />
            <span
              *ngIf="
              formSize2.get('state')?.hasError('required') &&
              formSize2.get('name_size')?.touched
              "
            >
              <strong>El campo estado es requerido</strong></span
            >
          </div>
          <div class="modal-footer border-0 pt-4">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
              aria-label="Close"              >
              cerrar
            </button>
            <button
              [disabled]="formSize2.invalid"
              type="submit"
              class="btn btn-success"
            >
              agregar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<!--Para Activar-->
<div
  class="modal fade"
  id="staticBackdrop3"
  data-backdrop="false"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Editar</h5>
        <button

          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formSize2" (ngSubmit)="updateSize()">
          <div class="mb-3">
            <label class="form-label">Nombre</label>
            <input
            readonly
              formControlName="name_size"
              class="form-control"
              id="exampleInputPassword1"
            />
            <span
              *ngIf="
              formSize2.get('name_size')?.hasError('required') &&
              formSize2.get('name_size')?.touched
              "
              ><strong>El campo nombre es requerido</strong></span
            >
          </div>
          <div class="mb-3">
            <label class="form-label">State</label>
            <input
              disabled
              class="form-control"
              id="exampleInputPassword1"
              value="Desactivado"
            />
            <span
              *ngIf="
              formSize2.get('state')?.hasError('required') &&
              formSize2.get('name_size')?.touched
              "
            >
              <strong>El campo estado es requerido</strong></span
            >
          </div>
          <div class="modal-footer border-0 pt-4">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
              aria-label="Close"              >
              cerrar
            </button>
            <button
              [disabled]="formSize2.invalid"
              type="submit"
              class="btn btn-success"
            >
              Activar Tamaño
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

