.logo{
    width: 170px;
    padding-left: 15px;
    height: 120px;
    border-radius: 5px;
}
.nav-link{
    transition: all .1s ease;
    border-bottom: 0px solid #64d6f4;
    border-top: 0px solid #64d4f4;
    margin-right: 30px;
}

.nav-link:hover{
    border-bottom: 3px solid #64d6f4;
    border-top: 3px solid #64d6f4;
}
.font{
 font-size: 30px;
    padding-left: 25px;
}
.font2{
    font-size: 30px;
    padding-left: 13px;
}
.font3{
    font-size: 30px;
    padding-left: 35px;
}
nav{
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.25);
}


@media (max-width: 992px) {
    #des{
        visibility: hidden;
        display: none;
    }
}
@media (max-width: 1101px) {
    .font3{
        font-size: 30px;
        padding-left: 13px;
    }
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}
