<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand"><img src="./assets/img/Logo.png" alt="Logo" title="Logo" class="logo"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle"  role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-sharp fa-solid fa-clipboard font" id="des"></i><br>
            DashBoards
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">DashBoard de Producto</a></li>
            <li><a class="dropdown-item" href="#">DashBoard de Compra</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">DashBoard de Ventas</a></li>
          </ul>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"  role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa-solid fa-shirt font2"id="des"></i><br>
              Producto
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#" routerLink="/brand">Marca</a></li>
              <li><a class="dropdown-item" href="#" routerLink="/color">Color</a></li>
              <li><a class="dropdown-item" href="#" routerLink="/style">Estilos</a></li>
              <li><a class="dropdown-item" href="#" routerLink="/size">Tamaño</a></li>
              <li><a class="dropdown-item" href="#" routerLink="/category">Categoria</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#" routerLink="/product">Productos</a></li>
            </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle"  role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-warehouse font2"id="des"></i> <br>
             Almacen
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#" routerLink="/provider">Proveedor</a></li>
          </ul>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Compra</a></li>
          </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle"  role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fa-solid fa-user font2" id="des"></i><br>
          Personal
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#" routerLink="/person">Usuario</a></li>
          <li><a class="dropdown-item" href="#" routerLink="/rol">Rol</a></li>
        </ul>
    </li>
    <li class="nav-item">
      <a class="nav-link"><i class="fa-solid fa-credit-card font3" id="des"></i> <br> Metodo de Pago</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"> <i class="fa-solid fa-clipboard-question font" id="des"></i><br> Reclamos</a>
    </li>

      </ul>
      <a (click)="deleteCookie()" class="btn btn-success text-black rounded-pill">Cerrar Sesion</a>
    </div>
  </div>
</nav>
