<app-navbar></app-navbar>


<div  class="container-sm pt-4">
  <div class="" style="font-size: 50px">Lista de Compras</div>
  <div class="search-name pt-3 pb-3">
    <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder=" Buscar  ">
  </div>



  <div class="agregar">
    <button

      data-bs-toggle="modal"
      data-bs-target="#staticBackdrop"
      class="btn btn-outline-success"
    >

      <img class="imagen" src="./assets/img/agregar.png" alt="" />
    </button>

  </div>

  <table class="table color">
    <thead>
      <tr>
        <th scope="col" class="text-center">Id cabecera</th>
        <th scope="col" class="text-center">Id de compra</th>
        <th scope="col" class="text-center">Id producto</th>
        <th scope="col" class="text-center">Precio</th>
        <th scope="col" class="text-center">Cantidad</th>
        <th style="width: 10%" scope="col" class="text-center"></th>
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of listDetailIncome | filter:searchText">
        <td class="p-1 text-center">
          0000{{ item.idicome.toString() }}
        </td>
        <td  class="p-1 text-center">
          0000{{ item.idincome }}
        </td>
        <td  class="p-1 text-center">
          0000{{ (item.idproduc)}}
        </td>
        <td  class="p-1 text-center">
          {{ item.price_buy}}
        </td>
        <td  class="p-1 text-center">
          {{ item.quantity }}
        </td>
        <td class="p-1 text-center">
          <button
            data-bs-toggle="modal"
            class="btn btn-outline-warning btn-sm"
            data-bs-toggle="modal"
            data-bs-target="#staticBackdrop2"
          >
            <a> <img class="imagen" src="./assets/img/editar.png" alt="" /></a>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>




