<app-navbar></app-navbar>
<app-edit-detailincome></app-edit-detailincome>

<div  class="container-sm pt-4">
  <div class="" style="font-size: 50px">Lista de Compras</div>
  <div class="row search-name pt-3 pb-3">
    <div class="col-lg-6">
      <input class="form-control" [(ngModel)]="idicome" type="number">
    </div>
    <div class="col-lg-6">
      <button class="w-100 btn btn-primary" id="oculta-tabla" (click)="getTotalById()">Buscar ID</button>
    </div>
    
  </div>

  <table class="table color">
    <thead>
      <tr>
        <th scope="col" class="text-center">Id cabecera</th>
        <th scope="col" class="text-center">Id detalle compra</th>
        <th scope="col" class="text-center">Id producto</th>
        <th scope="col" class="text-center">Precio</th>
        <th scope="col" class="text-center">Cantidad</th>
        <th scope="col" class="text-center">Subtotal</th>
        <th style="width: 10%" scope="col" class="text-center"></th>
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of listDetailIncome | pipes:searchText">
        <td class="p-1 text-center">
          0000{{ item.idicome}}
        </td>
        <td  class="p-1 text-center">
          0000{{ item.idincome }}
        </td>
        <td  class="p-1 text-center">
          0000{{ (item.idproduc)}}
        </td>
        <td  class="p-1 text-center">
          {{ item.price_buy}}
        </td>
        <td  class="p-1 text-center">
          {{ item.quantity }}
        </td>
        <td  class="p-1 text-center">
          {{item.price_buy * item.quantity}}
        </td>
        <td class="p-1 text-center">
          <button
            data-bs-toggle="modal"
            class="btn btn-outline-warning btn-sm"
            data-bs-toggle="modal"
            (click)="edit(item.idincome)"
            data-bs-target="#staticBackdrop2"
          >
            <a> <img class="imagen" src="./assets/img/editar.png" alt="" /></a>
          </button>
        </td>
      </tr>
      <tr>
        <td class="text-center" style="font-weight: bold;" colspan="5">TOTAL</td>
        <td class="text-start" style="padding-left: 59px;" colspan="2">{{total}}</td>
      </tr>
    </tbody>
  </table>
</div>




