<div class="container-fluid pt-4">
  <div class="color">
    <div class="row gx-5 ps-4 pe-4" >
      <h1 class="text-center pt-4">Registrar</h1>
      <div class="col pt-4 pb-3">
        <div>
          <label for="exampleInputEmail1" class="form-label">Nombre</label>
          <input
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
          />
        </div>
      </div>
      <div class="col pt-4">
        <div>
          <label for="exampleInputPassword1" class="form-label">Apellido</label>
          <input
            type="password"
            class="form-control"
            id="exampleInputPassword1"
          />
        </div>
      </div>
    </div>
    <div class="row gx-5 ps-4 pe-4 " >
      <div class="col  pb-3">
        <div>
          <label for="exampleInputEmail1" class="form-label">Nombre</label>
          <input
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
          />
        </div>
      </div>
      <div class="col ">
        <div>
          <label for="exampleInputPassword1" class="form-label">Apellido</label>
          <input
            type="password"
            class="form-control"
            id="exampleInputPassword1"
          />
        </div>
      </div>
    </div>
    <div class="row gx-5 ps-4 pe-4 " >
      <div class="col  pb-3">
        <div>
          <label for="exampleInputEmail1" class="form-label">Nombre</label>
          <input
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
          />
        </div>
      </div>
      <div class="col ">
        <div>
          <label for="exampleInputPassword1" class="form-label">Apellido</label>
          <input
            type="password"
            class="form-control"
            id="exampleInputPassword1"
          />
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</div>
