<div
class="modal fade"
id="staticBackdrop"
data-backdrop = "false"
aria-labelledby="exampleModalLabel"
aria-hidden="true">

    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-tittle" id="staticBackdropLabel">Agregar</h5>
                <button

                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="formProvider" (ngSubmit)="addProvider()">
                    <div class="row">
                        <div class="mb-3 col-md-6">
                            <label class="form-label">Nombre Proveedor</label>
                            <input formControlName="name_prov"
                            class="form-control"
                            id="exampleInputPassword1">
                            <span *ngIf="
                            formProvider.get('name_prov')?.hasError('required') &&
                            formProvider.get('name_prov')?.touched"
                            >
                            <strong>El campo Nombre es Requerido</strong>
                            </span>
                        </div>
                        <div class="mb-3 col-md-6">
                          <label class="form-label">RUC</label>
                          <input formControlName="ruc"
                          maxlength="11"
                          class="form-control"
                          id="exampleInputPassword1">
                          <span *ngIf="
                          formProvider.get('ruc')?.hasError('required') &&
                          formProvider.get('ruc')?.touched"
                          >
                          <strong>El campo RUC es Requerido</strong>
                          </span>
                      </div>
                      <div class="mb-3 col-md-6">
                        <label class="form-label">Nombre Compañia Proveedor</label>
                        <input formControlName="company_name"
                        class="form-control"
                        id="exampleInputPassword1">
                        <span *ngIf="
                        formProvider.get('company_name')?.hasError('required') &&
                        formProvider.get('company_name')?.touched"
                        >
                        <strong>El campo Nombre Compañia Proveedor es Requerido</strong>
                        </span>
                    </div>
                    <div class="mb-3 col-md-6">
                        <label class="form-label">Celular</label>
                        <input formControlName="phone"
                        maxlength="9"
                        class="form-control"
                        id="exampleInputPassword1">
                        <span *ngIf="
                        formProvider.get('phone')?.hasError('required') &&
                        formProvider.get('phone')?.touched"
                        >
                        <strong>El Celular es Requerido</strong>
                        </span>
                    </div>
                    <div class="mb-3 col-md-6">
                        <label class="form-label">Correo</label>
                        <input formControlName="email"
                        class="form-control"
                        id="exampleInputPassword1">
                        <span *ngIf="
                        formProvider.get('email')?.hasError('required') &&
                        formProvider.get('email')?.touched"
                        >
                        <strong>El campo Correo es Requerido</strong>
                        </span>
                    </div>
                    <div class="mb-3 col-md-6">
                        <label class="form-label">Descripcion</label>
                        <input formControlName="description"
                        class="form-control"
                        id="exampleInputPassword1">
                        <span *ngIf="
                        formProvider.get('description')?.hasError('required') &&
                        formProvider.get('description')?.touched"
                        >
                        <strong>El campo Descripcion es Requerido</strong>
                        </span>
                    </div>
                    <div class="mb-3 col-md-6">
                        <label class="form-label">Direccion</label>
                        <input formControlName="address"
                        class="form-control"
                        id="exampleInputPassword1">
                        <span *ngIf="
                        formProvider.get('address')?.hasError('required') &&
                        formProvider.get('address')?.touched"
                        >
                        <strong>El campo Direccion es Requerido</strong>
                        </span>
                    </div>
                        <div class="modal-footer border-0 pt-4">
                            <button
                            type="button"
                            class="btn btn-secondary"
                            data-bs-dismiss="modal"
                            aria-label="Close"              >
                            cerrar
                          </button>
                          <button
                          [disabled]="formProvider.invalid"
                          type="submit"
                          class="btn btn-success"
                        >
                          agregar
                        </button>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
