
<div class="container mt-3">
  <form [formGroup]="formDetail" (ngSubmit)="addDetailIncome()">
    <div class="row">
        <div class="mb-3 col-md-6">
            <label class="form-label">Productos</label>
            <select formControlName="idproduc"
            class="form-select " id="inputState" aria-label=".form-select-lg example" [(ngModel)]="selectedOption">
                <option *ngFor="let option of listProduct" [value]="option.idproduc">
                    {{option.name_p}}
                </option>
            </select>
            <span *ngIf="
            formDetail.get('idproduc')?.hasError('required') &&
            formDetail.get('idproduc')?.touched"
            >
            <strong style="color:orangered" >El campo Producto es Requerido</strong>
            </span>
        </div>
        <div class="mb-3 col-md-6">
            <label class="form-label">Cabecera de Compra</label>
            <input
            class="form-control" id="inputState" aria-label=".form-control-lg example"[value]="newItem"[readOnly]="true">
        </div>
        <div class="mb-3 col-md-6">
            <label class="form-label">Precio de Compra</label>
            <input formControlName="price_buy"
            type="number"
            class="form-control"
            pattern="[0-9]+(.[0-9]{1,2})?"
            max="99999999"
            id="exampleInputPassword1">
            <span *ngIf="
            formDetail.get('price_buy')?.hasError('required') &&
            formDetail.get('price_buy')?.touched"
            >
            <strong style="color:orangered" >El campo Precio es Requerido</strong>
            </span>
            <span *ngIf="formDetail.get('dni')?.hasError('pattern')">
                <strong style="color:red">El campo Precio no puede ser mayor a 8 digitos</strong>
              </span>
        </div>
        <div class="mb-3 col-md-6">
            <label class="form-label">Cantidad</label>
            <input formControlName="quantity"
            type="number"
            class="form-control"
            pattern="[0-9]{1,8}"
            max="99999999"
            id="exampleInputPassword1">
            <span *ngIf="
            formDetail.get('quantity')?.hasError('required') &&
            formDetail.get('quantity')?.touched"
            >
            <strong style="color:orangered" >El campo Cantidad es Requerido</strong>
            </span>
            <span *ngIf="formDetail.get('dni')?.hasError('pattern')">
                <strong style="color:red">El campo Cantidad no puede ser mayor a 8 digitos</strong>
              </span>
        </div>
    
        <div>
          <button
          [disabled]="formDetail.invalid"
          type="submit"
          class="btn btn-success"
        >
          agregar
        </button>

        </div>
    </div>
</form>
</div>

