<app-navbar></app-navbar>

<div class="container">
   <h1 class="text-center">Cantidad de Productos Por Nombre</h1>
    <canvas id="myChart"></canvas>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-6 p-4">
            <br>
            <h1 class="text-center">Cantidad de Productos por Color</h1>
            <br>
            <canvas id="myChart2"></canvas>
        </div>
        <div class="col-lg-6 p-4">
            <h1 class="text-center">Cantidad de Productos por Categoria</h1>
            <canvas id="myChart3"></canvas>
        </div>
        <div class="col-lg-6 p-4">
            <h1 class="text-center">Cantidad de Productos por Tamaño</h1>
            <canvas id="myChart4"></canvas>
        </div>
        <div class="col-lg-6 p-4">
            <br>
            <h1 class="text-center">Cantidad de Productos por Estilo</h1>
            <br>
            <canvas id="myChart5"></canvas>
        </div>
    </div>
 </div>
 


