<div
  class="modal fade"
  id="staticBackdrop2"
  data-backdrop="false"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Editar</h5>
        <button

          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formPay2" (ngSubmit)="updatePayMethod()">
          <div class="mb-3">
            <label class="form-label">Nombre</label>
            <input
              formControlName="name_pay"
              class="form-control"
              pattern="[A-Za-z ]{1,40}"
              id="exampleInputPassword1"
            />
            <span *ngIf="formPay2.get('name_pay')?.hasError('required') && formPay2.get('name_pay')?.touched">
              <strong style="color:orangered">El campo Nombre es requerido</strong>
            </span>
            <span *ngIf="formPay2.get('name_pay')?.hasError('pattern')">
              <strong style="color:red">El campo Nombre no debe contener números/signos o más de 40 caracteres</strong>
            </span>
          </div>
          <div class="mb-3">
            <label class="form-label">State</label>
            <input
              disabled
              class="form-control"
              id="exampleInputPassword1"
              value="Activo"
            />
            <span
              *ngIf="
              formPay2.get('state')?.hasError('required') &&
              formPay2.get('state')?.touched
              "
            >
              <strong>El campo estado es requerido</strong></span
            >
          </div>
          <div class="modal-footer border-0 pt-4">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
              aria-label="Close"              >
              cerrar
            </button>
            <button
              [disabled]="formPay2.invalid"
              type="submit"
              class="btn btn-success"
            >
              agregar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="staticBackdrop3"
  data-backdrop="false"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Editar</h5>
        <button

          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formPay2" (ngSubmit)="updatePayMethod()">
          <div class="mb-3">
            <label class="form-label">nombre</label>
            <input
            readonly
              formControlName="name_pay"
              class="form-control"
              id="exampleInputPassword1"
            />
            <span
              *ngIf="
              formPay2.get('name_pay')?.hasError('required') &&
              formPay2.get('name_pay')?.touched
              "
              ><strong>El campo nombre es requerido</strong></span
            >
          </div>
          <div class="mb-3">
            <label class="form-label">state</label>
            <input
              disabled
              class="form-control"
              id="exampleInputPassword1"
              value="Desactivado"
            />
            <span
              *ngIf="
              formPay2.get('state')?.hasError('required') &&
              formPay2.get('name_pay')?.touched
              "
            >
              <strong>El campo estado es requerido</strong></span
            >
          </div>
          <div class="modal-footer border-0 pt-4">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
              aria-label="Close"              >
              cerrar
            </button>
            <button
              [disabled]="formPay2.invalid"
              type="submit"
              class="btn btn-success"
            >
              Activar Metodo de Pago
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

