<app-navbar ></app-navbar>

<div class="container">
    <div class="row justify-content-around mt-4 mb-2 ">
        <div class="col-lg-6 text-center" >
            <p class="titulomen">BIENVENIDO AL SISTEMA DE LA EMPRESA TEMPTATION PERÚ</p>
        </div>
    </div>
    <div class="row justify-content-around">
        <div class="col-lg-5">
            <img src="./assets/img/menuicon.png" class="img-fluid imgmenu">
        </div>
    </div>
    <div class="row justify-content-around mt-4 ">
        <div class="col-lg-5 text-center" >
            <p class="titulomen">GRACIAS POR TRABAJAR CON NOSOTROS!!</p>
        </div>
    </div>
    <!-- <p>Tu rol es: {{rol}}</p>
    <button *ngIf="rol == 1">Crear usuario</button> -->

  </div>


